/* UserManagement.css */

.user-management {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #e2c0c0;
}


/* Styling for the main heading */
.user-management h1 {
    text-align: center;
    font-size: 36px; /* Font size */
    width: 100%;
    font-family: 'Montserrat', sans-serif; /* Stylish font */
    background: linear-gradient(90deg, rgb(245, 242, 242) 0%, rgb(235, 131, 131) 50%, rgb(238, 236, 236) 100%); /* Gradient background */
    color: white; /* Text color */
    padding: 15px; /* Padding around the text */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    text-transform: uppercase; /* Uppercase letters */
    letter-spacing: 1.5px; /* Increased letter spacing */
  }
  

.user-management section {
    margin: 20px 0;
}

.user-management h2 {
    color: #0c0c0c;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.user-management h3 {
    color: #b16067;
    font-size: 20px;
    margin-bottom: 10px;
}

.table-container {
    flex: 1;
    margin-right: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

.add-user {
    margin-top: 20px;
}

.add-user input {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-user button {
    padding: 8px 12px;
    border: none;
    background-color: #ec0f0f;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.add-user button:hover {
    background-color: #d00e0e;
}

.image-container {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.view-details-button {
    margin-top: 20px;
    padding: 8px 12px;
    border: none;
    background-color: #ec0f0f;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.view-details-button:hover {
    background-color: #d00e0e;
}
